<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <title>FF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <style type="text/css">
       body { background: WhiteSmoke;
       }
       a { padding: 25px }
    </style>

</head>

     <!--navbar-->
    <nav class="navbar navbar-static-top navbar-inverse bg-inverse">
         <!--style="background-color: #000080;-->
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        <a class="navbar-brand" href="{{ url_for('headlines') }}">Headlines</a>
        <a class="navbar-brand" href="{{ url_for('rankings') }}">Rankings</a>
    </nav>

{% block body %}

{% endblock %}

    <!-- bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</html>